<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 扫描包加载Service实现类  扫描带@Serivce注解的类-->
	<context:component-scan base-package="org.lili.service"></context:component-scan>

	<bean id="orderService" class="org.lili.service.impl.OrderServiceImpl">
		<property name="orderDao" ref="orderDao"></property>
	</bean>


	<bean id="userService" class="org.lili.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="productService" class="org.lili.service.impl.ProductServiceImpl">
		<property name="productDao" ref="productDao"></property>
	</bean>

	<bean id="priceService" class="org.lili.service.impl.PriceServiceImpl">
		<property name="priceDao" ref="priceDao"></property>
	</bean>

</beans>