<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--converter的抽象bean  原来是abstract="true" .....  bean注入报错  -->
    <bean id="abstractPopulatingConverter"  class="org.lili.converters.impl.AbstractPopulatingConverter" />


    <bean id="abstractPopulatorList" abstract="true" class="org.lili.converters.impl.DefaultPopulatorList"  />

</beans>